.image-head,
.image-type {
  color: var(--font-color);
  font-size: var(--head-type-font);
}
.image-head {
  margin: -5px;
}
.image-type {
  margin-top: var(--type-margin);
}
.image-content,
.resp-img-content {
  padding: var(--content-padding);
  font-size: var(--content-font);
  color: var(--primary-color);
}
.image-container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.875rem;
  background-color: var(--eg-container-bg);
  border-radius: var(--border-radius);
  flex-wrap: wrap;
  margin-top: 20px;
}
