.badge-head {
  margin: -5px;
}
.badge-type {
  margin-top: var(---type-margin);
}

.badge-head,
.badge-type {
  color: var(--font-color);
  font-size: var(--head-type-font);
}

.badge-content {
  padding: var(--content-padding);
  font-size: var(--content-font);
  color: var(--primary-color);
}

.badge-container {
  display: flex;
  flex-direction: row;
  gap: var(--container-gap);
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  background-color: #dbe0e7;
  border-radius: var(--border-radius);
  flex-wrap: wrap;
  margin-top: var(--type-margin);
}
