.header {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--whitesmoke-color);
  margin-bottom: 2rem;
  z-index: 999;
}

.header p {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.3rem;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 0.4rem;
  width: 14rem;
  font-size: inherit;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  padding: 10px;
  width: 5rem;
  border: none;
  background: var(--primary-color);
  cursor: pointer;
  color: var(--whitesmoke-color);
}

.navlinks {
  display: flex;
  gap: 1rem;
  font-weight: bold;
}

.navlinks-link {
  text-decoration: none;
  color: black;
}
